h3 new marvelous user

form(method="POST" action="/users")
  div name:
    br
    input#name(type="text" name="name")      
  div email:
    br
    input#email(type="email" name="email")
  div age:
    br
    input#age(type="number" name="age")
  div: button(type="submit") Create
    
          
          
